includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - .
    excludePaths:
        - vendor
        - node_modules (?)
        - build (?)
        - dist (?)
    bootstrapFiles:
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
