<!-- wp:template-part {"slug":"topbar","tagName":"header"} /-->
<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"cadmous/hero-home"} /-->
	<!-- wp:pattern {"slug":"cadmous/divisions-grid"} /-->
	<!-- wp:pattern {"slug":"cadmous/news-strip"} /-->
	<!-- wp:pattern {"slug":"cadmous/events-strip"} /-->
	<!-- wp:pattern {"slug":"cadmous/cta-banner"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
